@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/GmarketSansTTFLight.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/GmarketSansTTFMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/GmarketSansTTFBold.woff2') format('woff2');
}
